/* H E A D E R*/
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 7vh;
	background: rgba(0, 0, 0, 0.7);
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	width:100%;
	position:fixed;
	transition: all 0.3s ease-in-out;
	z-index:1;
}
.navbar.sticky {
	background: rgba(0, 0, 0, 1);
	min-height: 8vh;
	-webkit-box-shadow: 0px 4px 13px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 13px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 13px -5px rgba(0,0,0,0.75);
}
#brand {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	margin: auto 0 auto -6%;
}
#brand a {
	color: #FFFFFF;
	text-decoration: none;
}
.menu {
	display: flex;
	text-decoration: none;
	justify-content: space-around;
	width: 30%;
}
.menu li {
	list-style-type: none;
	margin-right:-10%;
}
.menu a {
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 14px;
}
.menu a:hover {
	color: #FF6347;
	transition: 0.7s;
}
.burger {
	display: none;
	margin-right:-8%;
}
.burger div {
	width: 25px;
	height: 2px;
	background-color: #FFFFFF;
	margin: 5px;
	transition: all 0.3s ease;
}
@media screen and (max-width: 1080px) {
	.menu {
		width: 40%;
	}
	.max-width {
		padding: 0px 0px;
		max-width: 1080px;
	}
	#brand {
		margin: auto 0 auto -4%;
	}
}
@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.menu {
		position: absolute;
		right: 0px;
		height: 90vh;
		top: 7vh;
		background: rgba(0, 0, 0, 0.7);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 35%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.menu li {
		opacity: 0;
	}
	.burger {
		display: block;
		cursor: pointer;
	}
	.max-width {
		padding: 0px 0px;
		max-width: 1080px;
		margin-left: 4%;
	}
	.home .home-content .text-1 span{
		font-size: 36px;
	}
	.homeline {
		width: 320px;
	}
}
.menu-active {
	transform: translateX(0%);
}
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -5px);
}

/* F O O T E R */
.contact {
	height: 18em;
	background-color: #000000;
	font-family: 'Montserrat';
	-webkit-box-shadow: 0px -4px 13px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -4px 13px -1px rgba(0,0,0,0.75);
	box-shadow: 0px -4px 13px -1px rgba(0,0,0,0.75)
}
.contact .title {
	color: #d3d3d3;
	text-transform: uppercase;
	text-align: left;
	font-weight: 700;
	line-height: 1.5em;
	font-size: 40px;
	letter-spacing: 2px;
	transform: scale(1, 1.1);
	padding-top: 2em;
	width: 50%;
	margin-left: auto;
	margin-right: auto
}
.contact-btn {
	float: left;
	text-align: left;
	letter-spacing: 2px;
	transform: scale(1, 1.1);
	padding-top: 0.5em;
	position: relative
}
.contact-btn a {
	color: #FF6347;
	text-decoration: none;
	font-size: 25px;
	font-weight: 600
}
.contact-btn a:hover {
	color: #FFFFFF
}
.footer-social {
	text-align: right;
	float: right;
	position: relative;
	padding-top: 5px
}
.footer-social a {
	color: #FF6347;
	font-size: 25px;
	padding: 0;
	padding-left: 5px
}
.footer-social a:hover {
	color: #FFFFFF
}
.contact-social {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	position: relative
}
.footer-rights {
	color: #d3d3d360;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 14px;
	padding-top: 60px
}
.footer-rights p {
	width: 100%
}
.footer-social i {
	font-size: 20px
}
@media screen and (max-width: 1550px) {
	.contact .title {
		font-size: 30px
    }
	.contact-btn a {
		font-size: 20px
    }
	.contact {
		height: 15em
    }
}
@media screen and (max-width: 1250px) {
	.contact .title {
		font-size: 25px
    }
	.contact-btn a {
		font-size: 18px
    }
	.contact {
		height: 14em
    }
	.footer-rights {
		font-size: 13px
    }
}
@media screen and (max-width: 1080px) {
	.contact .title {
		font-size: 20px
    }
	.contact {
		height: 12em
    }
}
@media screen and (max-width: 720px) {
	.contact .title {
		font-size: 18px
    }
	.contact {
		height: 11em
    }
	.footer-rights {
		padding-top: 50px
    }
}
@media screen and (max-width: 650px) {
	.contact .title {
		font-size: 16px
    }
	.contact {
		height: 11em
    }
}
@media screen and (max-width: 550px) {
	.contact .title {
		width: 70%
    }
	.contact-social {
		width: 70%
    }
}
@media screen and (max-width: 420px) {
	.contact-social a {
		font-size: 14px
    }
	.footer-social i {
		font-size: 15px;
		padding-top: 6px
    }
}
@media screen and (max-width: 420px) {
	.contact {
		height: 12em
    }
	.footer-rights {
		padding-top: 40px
    }
}
